# Python cache
__pycache__/
*.py[cod]

# Pytest cache
.pytest_cache/

# Virtual environments
venv/
env/
.venv/

# PyCharm / IDE
.idea/

# VS Code (optional but good)
.vscode/

# OS files
.DS_Store
Thumbs.db
